In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("E:\Machine_Learning_Journey\Machine_Learning_Journey\data_sets\social_ads.csv")
data

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [10]:
X = data.drop(columns = ['Purchased'])
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [11]:
y = data['Purchased']
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [12]:
X.shape,y.shape

((400, 2), (400,))

In [13]:
from sklearn.model_selection import train_test_split as tts

In [14]:
X_train,X_test,y_train,y_test = tts(X,y,train_size = 0.75, random_state = 2529)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((300, 2), (100, 2), (300,), (100,))

In [15]:
from sklearn.preprocessing import StandardScaler

In [16]:
sc = StandardScaler()

In [17]:
dtemp = sc.fit_transform(data)

In [21]:
type(dtemp)

numpy.ndarray

In [22]:
import numpy as np
import matplotlib.pyplot as plt

In [23]:
pd.DataFrame(dtemp)

            0         1         2
0   -1.781797 -1.490046 -0.745936
1   -0.253587 -1.460681 -0.745936
2   -1.113206 -0.785290 -0.745936
3   -1.017692 -0.374182 -0.745936
4   -1.781797  0.183751 -0.745936
..        ...       ...       ...
395  0.797057 -0.844019  1.340598
396  1.274623 -1.372587  1.340598
397  1.179110 -1.460681  1.340598
398 -0.158074 -1.078938 -0.745936
399  1.083596 -0.990844  1.340598

[400 rows x 3 columns]

In [28]:
pd.DataFrame(dtemp).describe()

                  0             1             2
count  4.000000e+02  4.000000e+02  4.000000e+02
mean  -7.105427e-17 -1.776357e-17  1.421085e-16
std    1.001252e+00  1.001252e+00  1.001252e+00
min   -1.877311e+00 -1.607506e+00 -7.459358e-01
25%   -7.550313e-01 -7.852897e-01 -7.459358e-01
50%   -6.256110e-02  7.561451e-03 -7.459358e-01
75%    7.970571e-01  5.361289e-01  1.340598e+00
max    2.134241e+00  2.356750e+00  1.340598e+00

In [47]:
X_train = sc.fit_transform(X_train)

In [30]:
X_test = sc.fit_transform(X_test)

In [31]:
X_train

array([[ 1.08480265, -1.02114931],
       [-0.33385818, -0.81943606],
       [-0.71216774,  0.50610815],
       [ 0.23360615,  0.18913018],
       [-0.23928079,  0.10268165],
       [ 0.61191571,  1.94691707],
       [-1.65794163,  0.07386547],
       [-0.71216774,  0.44847579],
       [-1.75251902,  0.13149783],
       [ 0.13902876,  1.80283618],
       [ 0.42276093,  0.24676254],
       [-1.0904773 ,  0.24676254],
       [-0.23928079, -1.48220817],
       [-0.99589991, -1.48220817],
       [ 1.46311221,  2.06218179],
       [ 1.08480265, -1.25167874],
       [ 0.99022526,  1.80283618],
       [ 0.23360615,  2.03336561],
       [ 1.36853482,  2.26389503],
       [-1.27963207, -0.47364192],
       [ 0.99022526, -1.10759785],
       [-0.71216774,  1.83165236],
       [ 0.7064931 , -1.42457581],
       [ 0.42276093,  0.04504929],
       [ 2.03057654,  1.68757147],
       [-1.37420946, -0.67535517],
       [ 0.89564787, -1.48220817],
       [-0.23928079, -0.70417135],
       [-0.42843557, -0.32956103],
       [-1.0904773 ,  0.24676254],
       [ 2.12515393, -1.07878167],
       [-0.52301296,  0.41965961],
       [ 0.04445137, -0.18548014],
       [-1.0904773 , -1.5686567 ],
       [-0.33385818,  0.01623311],
       [-0.80674513,  0.33321108],
       [ 0.42276093, -0.5024581 ],
       [-0.05012602, -0.53127428],
       [ 0.51733832,  1.16888025],
       [-1.65794163,  0.41965961],
       [ 0.32818354,  0.01623311],
       [-0.42843557, -1.1652302 ],
       [-0.99589991, -0.38719338],
       [-1.37420946, -0.24311249],
       [-0.23928079, -0.53127428],
       [ 0.42276093, -0.04139924],
       [ 0.32818354, -1.19404638],
       [-0.05012602,  0.21794636],
       [ 2.12515393, -0.73298753],
       [-1.56336424, -1.59747288],
       [-0.14470341,  2.09099796],
       [ 0.32818354, -0.32956103],
       [-0.33385818,  1.25532879],
       [-0.23928079, -0.61772281],
       [-1.84709641, -0.79061988],
       [ 0.42276093,  0.93835082],
       [ 0.51733832,  1.65875529],
       [-0.05012602, -0.47364192],
       [-0.23928079,  0.16031401],
       [-1.37420946, -0.15666396],
       [ 1.17938004,  0.47729197],
       [ 1.5576896 , -0.04139924],
       [ 0.99022526,  1.91810089],
       [-0.61759035, -0.0990316 ],
       [-1.65794163,  0.3043949 ],
       [-0.80674513, -0.81943606],
       [ 1.74684438, -0.32956103],
       [-0.71216774, -1.5686567 ],
       [-1.0904773 ,  1.34177732],
       [-0.90132252, -0.35837721],
       [-0.23928079,  0.10268165],
       [-0.14470341, -0.56009046],
       [ 0.04445137, -0.35837721],
       [-0.14470341, -0.32956103],
       [ 1.93599915,  2.09099796],
       [ 0.13902876,  1.80283618],
       [ 0.32818354,  0.01623311],
       [-1.18505469, -1.42457581],
       [ 0.42276093, -0.53127428],
       [-0.33385818, -0.81943606],
       [-0.71216774, -1.62628906],
       [-0.99589991,  1.88928471],
       [ 0.89564787, -1.39575963],
       [ 0.13902876,  0.04504929],
       [ 0.42276093,  0.24676254],
       [-0.05012602, -0.01258306],
       [ 1.46311221,  0.93835082],
       [-0.23928079, -0.30074485],
       [-0.52301296,  1.31296115],
       [-0.90132252,  0.21794636],
       [-0.42843557,  2.23507886],
       [ 1.08480265,  0.47729197],
       [ 1.84142177,  0.07386547],
       [ 1.17938004, -0.79061988],
       [ 0.89564787, -0.64653899],
       [-0.42843557, -0.07021542],
       [ 0.23360615, -0.18548014],
       [ 1.36853482,  1.22651261],
       [-1.84709641,  0.3043949 ],
       [ 0.89564787, -1.07878167],
       [-1.84709641, -0.0990316 ],
       [ 1.27395743,  1.80283618],
       [-0.05012602,  0.18913018],
       [-1.18505469,  0.24676254],
       [-0.90132252,  0.36202726],
       [ 1.84142177, -1.10759785],
       [-0.71216774,  0.21794636],
       [ 0.89564787,  1.02479936],
       [ 0.99022526,  0.07386547],
       [-1.27963207, -1.39575963],
       [ 1.27395743, -1.39575963],
       [-0.14470341,  0.79426993],
       [ 1.84142177, -0.32956103],
       [-1.37420946, -1.25167874],
       [-0.14470341,  1.34177732],
       [ 0.13902876,  0.21794636],
       [ 1.27395743,  2.14863032],
       [-0.05012602,  0.07386547],
       [-0.99589991,  0.7078214 ],
       [-1.18505469,  0.21794636],
       [ 0.42276093,  2.23507886],
       [-0.71216774, -0.64653899],
       [-1.46878685, -0.47364192],
       [-0.90132252, -0.47364192],
       [-0.52301296,  0.82308611],
       [-0.80674513, -1.25167874],
       [-0.61759035,  0.50610815],
       [ 0.80107049, -0.35837721],
       [-1.46878685, -0.24311249],
       [ 0.04445137, -0.61772281],
       [-1.27963207, -0.38719338],
       [ 0.51733832,  1.77402   ],
       [-0.05012602,  0.10268165],
       [-0.61759035,  0.13149783],
       [-0.99589991,  0.47729197],
       [ 0.89564787,  1.19769643],
       [-0.61759035, -0.15666396],
       [ 0.04445137, -0.01258306],
       [-0.99589991,  0.36202726],
       [ 1.93599915,  0.85190229],
       [-1.0904773 , -1.59747288],
       [-0.23928079,  0.04504929],
       [ 0.32818354, -0.24311249],
       [ 0.32818354, -0.01258306],
       [-0.61759035, -1.07878167],
       [ 0.42276093, -0.18548014],
       [ 2.03057654,  0.13149783],
       [ 0.99022526,  1.3705935 ],
       [-0.23928079, -0.38719338],
       [ 2.12515393, -0.84825224],
       [-1.75251902,  0.39084343],
       [-0.23928079, -0.18548014],
       [-0.71216774,  1.02479936],
       [-1.27963207, -0.47364192],
       [-1.27963207, -1.51102435],
       [ 0.99022526, -1.19404638],
       [-0.05012602, -1.10759785],
       [-0.99589991,  0.50610815],
       [ 2.12515393,  0.88071847],
       [-1.0904773 , -1.62628906],
       [ 2.03057654,  2.06218179],
       [ 1.46311221,  0.3043949 ],
       [ 0.04445137,  1.16888025],
       [-0.05012602,  2.14863032],
       [-0.05012602, -0.27192867],
       [ 0.99022526,  2.00454943],
       [-0.14470341, -1.10759785],
       [ 0.80107049,  0.07386547],
       [-1.46878685, -1.28049492],
       [-1.65794163, -1.02114931],
       [-0.90132252,  0.50610815],
       [-0.23928079, -0.01258306],
       [ 0.80107049,  0.21794636],
       [-0.23928079, -0.79061988],
       [ 0.80107049,  0.47729197],
       [-1.56336424,  0.01623311],
       [-0.80674513, -0.30074485],
       [-0.61759035, -0.38719338],
       [ 0.7064931 , -1.42457581],
       [ 0.99022526,  1.71638764],
       [ 1.84142177,  1.45704204],
       [-1.27963207,  0.36202726],
       [ 0.32818354, -0.7618037 ],
       [-0.90132252,  0.39084343],
       [ 0.42276093,  0.21794636],
       [ 2.03057654, -0.84825224],
       [-0.90132252, -0.35837721],
       [ 1.08480265,  0.50610815],
       [ 0.99022526, -1.10759785],
       [-0.23928079, -0.93470078],
       [-0.05012602,  1.88928471],
       [ 1.08480265,  2.00454943],
       [-1.18505469,  0.53492433],
       [ 1.08480265, -0.18548014],
       [ 1.65226699, -0.93470078],
       [-1.46878685,  0.27557872],
       [ 0.23360615, -0.30074485],
       [ 1.17938004, -1.48220817],
       [-0.23928079,  0.21794636],
       [-0.14470341,  1.54349057],
       [ 1.93599915, -0.96351695],
       [ 0.80107049, -1.39575963],
       [-1.0904773 , -1.13641402],
       [ 1.36853482, -1.45339199],
       [ 0.89564787, -0.58890663],
       [-1.75251902, -1.33812727],
       [-0.71216774,  0.24676254],
       [-0.71216774,  1.28414497],
       [ 2.12515393, -0.84825224],
       [-0.05012602, -0.04139924],
       [ 0.23360615, -0.01258306],
       [ 0.13902876, -0.30074485],
       [-1.0904773 ,  0.01623311],
       [-0.99589991, -0.41600956],
       [ 1.36853482,  1.91810089],
       [-0.99589991, -0.38719338],
       [ 0.80107049,  0.7078214 ],
       [ 0.23360615, -0.35837721],
       [ 0.80107049, -1.25167874],
       [-0.05012602, -0.56009046],
       [ 0.23360615, -0.41600956],
       [-1.75251902, -1.3093111 ],
       [-0.61759035, -1.62628906],
       [-0.05012602,  2.09099796],
       [ 0.13902876,  0.10268165],
       [ 0.32818354,  0.01623311],
       [ 0.42276093, -0.18548014],
       [ 0.99022526,  0.7078214 ],
       [ 0.32818354,  0.44847579],
       [ 0.89564787,  0.967167  ],
       [-0.23928079, -0.32956103],
       [ 2.12515393,  0.33321108],
       [ 0.89564787, -0.70417135],
       [-0.80674513,  2.20626268],
       [-0.23928079, -0.41600956],
       [-0.90132252, -0.99233313],
       [-0.90132252,  1.48585822],
       [ 0.13902876, -0.84825224],
       [-1.27963207,  0.50610815],
       [ 0.42276093, -0.5024581 ],
       [-1.65794163,  0.3043949 ],
       [-0.14470341,  0.10268165],
       [ 1.5576896 , -1.3093111 ],
       [-0.61759035, -1.53984052],
       [ 0.89564787, -0.81943606],
       [ 0.7064931 , -1.13641402],
       [-0.33385818,  1.16888025],
       [ 0.13902876, -0.01258306],
       [ 0.7064931 , -0.7618037 ],
       [ 1.74684438,  1.77402   ],
       [ 0.13902876, -0.84825224],
       [ 0.80107049, -0.87706842],
       [ 0.13902876, -0.35837721],
       [-0.42843557, -0.81943606],
       [-1.0904773 , -0.56009046],
       [-0.23928079,  0.73663758],
       [ 0.89564787, -1.33812727],
       [ 0.99022526, -0.87706842],
       [-1.75251902, -0.04139924],
       [ 0.32818354, -0.58890663],
       [ 0.04445137,  1.19769643],
       [ 1.65226699,  1.68757147],
       [-1.56336424, -0.0990316 ],
       [-0.42843557, -0.58890663],
       [ 0.23360615,  0.10268165],
       [-0.52301296,  2.26389503],
       [ 0.13902876,  1.45704204],
       [-0.61759035,  0.07386547],
       [-0.42843557,  1.19769643],
       [-0.23928079, -0.35837721],
       [ 0.80107049, -1.42457581],
       [-1.0904773 , -1.62628906],
       [ 0.04445137, -0.61772281],
       [-0.23928079, -1.42457581],
       [-0.42843557, -1.25167874],
       [-1.37420946,  0.3043949 ],
       [-0.42843557, -0.87706842],
       [ 0.7064931 ,  0.21794636],
       [-0.23928079,  0.01623311],
       [ 1.93599915,  0.67900522],
       [-0.23928079,  0.01623311],
       [ 0.13902876,  0.16031401],
       [-1.27963207, -1.28049492],
       [ 0.42276093,  0.10268165],
       [ 0.13902876,  0.7078214 ],
       [-1.84709641,  0.41965961],
       [ 0.89564787, -0.61772281],
       [-0.05012602,  0.16031401],
       [-0.99589991, -1.5686567 ],
       [ 2.12515393,  1.05361554],
       [-0.14470341, -0.61772281],
       [-1.46878685, -1.53984052],
       [ 0.80107049,  1.31296115],
       [-0.61759035,  1.34177732],
       [ 0.42276093, -0.21429631],
       [-1.65794163, -1.39575963],
       [ 0.23360615,  0.01623311],
       [ 1.5576896 ,  0.93835082],
       [-1.27963207, -1.13641402],
       [ 0.42276093,  0.53492433]])

In [32]:
from sklearn.neighbors import KNeighborsClassifier

In [33]:
knn = KNeighborsClassifier(n_neighbors = 5)

In [34]:
knn.fit(X_train,y_train)

KNeighborsClassifier()

In [50]:
y_pred = knn.predict(X_test)
y_pred

array([0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0], dtype=int64)

In [48]:
y_test.head(12)

244    0
366    1
163    0
379    1
182    1
84     0
33     0
230    1
104    0
61     0
273    1
248    0
Name: Purchased, dtype: int64

In [51]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [52]:
acs = accuracy_score(y_test,y_pred)
acs

0.89

In [54]:
cr = classification_report(y_test,y_pred)
print(cr)

              precision    recall  f1-score   support

           0       0.98      0.85      0.91        66
           1       0.77      0.97      0.86        34

    accuracy                           0.89       100
   macro avg       0.87      0.91      0.88       100
weighted avg       0.91      0.89      0.89       100

In [57]:
cm = confusion_matrix(y_test,y_pred)
cm

array([[56, 10],
       [ 1, 33]], dtype=int64)